[Unit]
Description=Wake Service
After=network.target

[Service]
ExecStart=/usr/local/bin/wake
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target